.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    width: 150px; /* Fixed width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .grid-item {
    max-width: 150px; /* Set a fixed width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  